.item-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.2s;
}

    .item-card:hover {
        transform: scale(1.03);
        border-color: #0b2a5a;
    }

.card-title {
    color: #0b2a5a;
}

.card-text {
    color: #333;
}
