@page "/products"
@layout ProductLayout

<h1>Products</h1>

<ul class="list-group mt-3">
    <li class="list-group-item">Laptop</li>
    <li class="list-group-item">Smartphone</li>
    <li class="list-group-item">Headphones</li>
</ul>

@code {

}
